:root {
    font: {
        family: "Opens Sans", sans-serif, arial;
        size: 16px;
    }

    background-color: $color-base;
    color: $color-text;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: inherit;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    & > * {
        width: 100%;
    }
}

.header {
    background-color: rgba(black, 0.2);
    border-bottom: 1px solid rgba(white, 0.2);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    padding: 0 10px;
}

.logo {
    --size: 50px;

    gap: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 300ms ease;

    svg {
        width: inherit;
        height: inherit;
    }

    path {
        fill: var(--color);
    }

    &__title {
        font-size: 1.1rem;
        color: rgba(white, 0.8);
    }

    &__icon {
        width: var(--size);
        height: var(--size);

        --color: #{rgba(white, 0.7)};
    }

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 1;
        transition: none;
    }
}

.player {
    --progress: 20%;

    position: relative;
    padding: 0 10px;

    background-color: rgba(black, 0.7);
    min-height: 100px;

    justify-content: space-between;

    &::before {
        height: 4px;
        border-radius: 0 2px 2px 0;
        background-color: $color-secundario;

        content: "";
        display: block;
        margin: auto;
        position: absolute;
        left: 0;
        top: 0;
        width: var(--progress);
        transition: 300ms ease;

        z-index: 1;
    }

    &,
    &__button {
        display: flex;
        align-items: center;
    }

    &__button {
        --size: 35px;
        gap: 10px;

        &__item {
            height: var(--size);
            min-width: calc(var(--size) * 1.2);
            border-radius: calc(var(--size) / 2);
            border: 0;
            background-image: none;
            background-color: rgba(white, 0.7);
            outline: medium none;
            transition: 300ms ease;
            position: relative;

            &:hover {
                background-color: rgba(white, 0.9);
            }

            &:active {
                transition: none;
                background-color: rgba(white, 0.7);
            }

            &[data-action="play"] {
                width: calc(var(--size) * 1.8);
                height: calc(var(--size) * 1.8);
                border-radius: 50%;

                --player: polygon(0 0, 100% 50%, 0 100%);
                --size-icon: 30px;

                &::before,
                &::after {
                    content: "";
                    display: flex;
                    position: absolute;
                    margin: auto;
                    left: 0; right: 0;
                    top: 0; bottom: 0;
                    width: calc(var(--size-icon) / 1.2);
                    height: var(--size-icon);

                    align-items: center;
                    justify-content: center;
                    color: white;
                    transition: 300ms ease;
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
                
                &::before {
                    background-color: darken($color-base, 20);
                    clip-path: var(--player);
                    left: 15%;
                }
            }
        }
    }
}

.container {
    margin: 0 auto;
    overflow: auto;
    padding: 10px;

    flex-grow: 1;
}